.dashboard {
  width: 80%;
}

.dashboard h2 {
  border-top: 0.5rem solid #2ec42dff;
  padding-top: 0.5rem;
}

/* ----------------------- LES TABLES -------------------------- */
.table-moncompte {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffffaa;
}

.table-moncompte td {
  font-weight: 500;
  border-bottom: 1px solid #444;
}

/* ------ LISTE D'AMIS----------- */
.listeAmis td:nth-child(1),
.listeAmis td:nth-child(2),
.listeAmis td:nth-child(3) {
  width: 10rem;
  height: 2rem;
  padding-left: 1rem;
}
@media screen and (max-width: 900px) {
  .listeAmis td:nth-child(4) {
    display: none;
  }
}

/* ------ INFOS COMPTE ----------- */
.table-moncompte.info tr {
  height: 0.5rem;
}

.table-moncompte .info td {
  padding-left: 1rem;
}

.table-moncompte td:nth-child(1) {
  padding-left: 1rem;
}
.table-moncompte .info td:nth-child(2) {
  width: 3rem;
}

.table-moncompte button {
  cursor: pointer;
  width: 2.5rem;
  margin: 0.2rem;
  float: right;
}
