.nav {
  max-width: 800px;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav .icon {
  margin-right: 10px;
}

.nav > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  width: auto;

  outline: none;
  text-decoration: none;
  font-size: 1.4rem;
  color: #182c0dff;
  font-weight: 500;
  font-stretch: extra-condensed;
  border-radius: 4px;
}

.nav > a:hover {
  background-color: #182c0dff;
  color: #f2fdff;
}

@media screen and (max-width: 900px) {
  .nav > a {
    font-size: 1rem;
  }
}
